body {
    background-image: url("../images/bg/bgshapes.png");
}

.jumbotron {
    margin-top: 55px;
    background: url("../images/bg/halifax_bg02.png");
    color: rgba(20,20,20,0.50);
    background-position: center;
}

.jumbotron h1 {
    color: white !important;
    text-shadow: 2px 2px #202020;
}

.jumbotron h1 small {
    position: relative;
    top: -35px;
    color: #AAAAAA !important;
}

.jumbotron a.btn {
    position: relative;
    top: -35px;
    color: white !important;
    text-shadow: none;
}

.jumbotron p {
    color: white !important;
}

.jumbotron .well {
    background: rgb(0,0,0);
    background: rgba(0,0,0, 0.7);
    border: hidden;
}

.img-thumbnail {
    border: none !important;
    box-shadow: none  !important;
    background-color: transparent !important;
}

a.anchor.section {
    position: relative;
    top: -100px;
    visibility: hidden;
}

.tint {
    -webkit-filter: grayscale(70%);

    filter: grayscale(70%);
}

.tint:hover {
    -webkit-filter: grayscale(0%);

    filter: grayscale(0%);
}

.skills {
    -webkit-filter: grayscale(70%) opacity(50%);
    filter: grayscale(70%) opacity(50%);
    
    height: 120px;
    width: 120px;
    padding: 10px;
}

.carousel {
    background: rgb(50,50,50);
}

.carousel img {
    margin: auto;
    height: 300px !important;
    object-fit: contain;
}

.carousel-caption p {
    background: rgba(0,0,0,0.4);
}

.skills:hover {
    -webkit-filter: grayscale(0%) opacity(100%);
    filter: grayscale(0%) opacity(100%);
}

.nav-icon {
    height: 24px;
    width: 24px;
}

.label {
    position: relative;
    top: -4px;
}